{% extends '::base.html.twig' %}

{% block pageSubTitle %}Liste des sources{% endblock pageSubTitle %}

{% block breadcrumb %}{% include '@App/includes/menu.html.twig' %}{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-xs-9 margin-center">
            <table class="table table-bordered table-stripped sources-list">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Host</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for source in sources %}
                        <tr>
                            <td>{{ source.name }}</td>
                            <td>{% if source.host is empty %}-{% else %}{{ source.host }}{% endif %}</td>
                            <td>{{ source.type.name }}</td>
                            <td class="list-actions">
                                <a href="#" data-test-url="{{ path('sources_test', {'id': source.id}) }}" title="Tester la connexion" data-toggle="modal" data-target="#test-connection-modal"><i class="fa fa-chain fa-success fa-2x"></i></a>
                                <a href="{{ path('sources_edit', {'id': source.id}) }}" data-toggle="tooltip" data-placement="top" title="Editer la source" class="margin-left-30"><i class="fa fa-edit fa-primary fa-2x"></i></a>
                                <a
                                        data-confirm-message="Etes-vous sûr de vouloir supprimer cette source ?"
                                        href="{{ path('sources_delete', {'id': source.id}) }}"
                                        data-toggle="tooltip" data-placement="top" title="Supprimer la source"
                                        class="confirm"
                                        >
                                    <i class="fa fa-trash fa-danger fa-2x"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include '@App/includes/test-connection-modal.html.twig' %}
{% endblock content %}

{% block sidebar_content %}
    <ul class="sidebar_buttons">
        <li>
            <a href="{{ path('sources_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter une source</a>
        </li>
    </ul>
{% endblock sidebar_content %}
